.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0;
  align-self: end;
  width: 100px;
  grid-area: place__title;
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 760px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 8px;
    padding: 0 4vw;
    width: 92%;
  }
}