.comments__container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 770px) {
  .comments__container {
    display: block;
    padding-top: 72px;
  }
}

@media screen and (max-width: 500px) {
  .comments__container {
    padding-top: 48px;
  }
}

@media screen and (max-width: 352px) {
  .comments__container {
    padding-top: 40px;
  }
}