@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/led__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 984px;
  padding-top: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}