@import url(./__container/video__container.css);
@import url(./__duration/video__duration.css);
@import url(./__icon-play/video__icon-play.css);
@import url(./__item-bg/video__item-bg.css);
@import url(./__item/video__item.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__title/video__title.css);
@import url(./__item-dark/video__item-dark.css);

.video {
  padding-top: 100px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 1030px) {
  .video {
      max-width: 92vw;
  }
}

@media screen and (max-width: 500px) {
  .video {
      padding-top: 64px;
  }
}