@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);
@import url(./__languages/header__languages.css);
@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 1184px;
width: 100%;
padding-top: 30px;
margin: 0 auto;
}

@media screen and (max-width: 1030px) {
  .header {
      max-width: 92vw;
  }
}