.intro__list-bold {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 760px) {
  .intro__list-bold {
    font-size: 12px;
    line-height: 19px;
  }
}