.video__item {
  text-decoration: none;
  max-width: 100%;
  padding: 28px;
  position: relative;
  color: #fff;
  display: grid;
  grid-template-rows: 55% repeat(3, 1fr);
}

.video__item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  transition: background-color .5s linear;
}

.video__item:hover::after {
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 770px) {
  .video__item{
      height: 200px;
  }
}