.intro__content-row {
  margin-top: 48px;
  margin-bottom: 0;
  width: 70%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 760px) {
  .intro__content-row {
    width: 100%;
    font-size: 16px;
    line-height: 27px;
  }
}