.footer__link {
  text-decoration: none;
  color: #fff;
  margin: 0 20px 0 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1000px) {
  .footer__link {
    font-size: 16px;
    line-height: 27px;
  }
}

@media screen and (max-width: 760px) {
  .footer__link {
    font-size: 24px;
    line-height: 41px;
    margin-right: 0;
  }
}