@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__autor/comment__autor.css);

@media screen and (max-width: 770px) {
  .comments__container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}