@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__autor/comment__autor.css);

@media screen and (max-width: 770px) {
  .comment {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 48px;
  }
  .comment:first-of-type {
    margin-top: 0;
  }
}