.video__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  z-index: 2;
  margin: 2% 0 3% 0;
  max-width: 60%;
}

@media screen and (max-width: 1030px) {
  .video__title {
      max-width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .video__title {
      max-width: 100%;
      font-size: 24px;
      line-height: 26px;
      max-width: 100%;
  }
}