.intro__text_list_bold {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 760px) {
  .intro__text_list_bold {
    font-size: 12px;
    line-height: 19px;
  }
}