@import url(./__content-row/intro__content-row.css);
@import url(./__list-bold/intro__list-bold.css);
@import url(./__title/inro__title.css);
@import url(./__list-normal/intro__list-normal.css);


.intro {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 984px;
}

@media screen and (max-width: 1030px) {
  .intro {
      max-width: 92vw;
  }
}