@import url(./__title/inro__title.css);
@import url(./__text/intro__text.css);
@import url(./__text/_content-row/intro__text_content-row.css);
@import url(./__text/_list/intro__text_list_bold.css);
@import url(./__text/_list/intro__text_list_normal.css);


@import url(./__text-advantages/intro__text-advantages.css);
@import url(./__text-advantages/_normal/intro__text-advantages_normal.css);


.intro {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 984px;
}

@media screen and (max-width: 1030px) {
  .intro {
      max-width: 92vw;
  }
}