@import url(./__bg/cover__bg.css);

.cover {
  max-width: 1184px;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/cover/Image.jpg); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}