@import url(./__image/place__image.css);
@import url(./__paragraf/place__paragraf.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url/place__url.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__paragraf-text/place__paragraf-text.css);

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
      "place__title place__website"
      "place__image place__paragraf";
  grid-gap: 60px 40px;
  margin-top: 72px;
 /** box-sizing: border-box; */
}

@media screen and (max-width: 1030px) {
  .place {
      grid-gap: 40px 32px;
  }
}

@media screen and (max-width: 1030px) {
  .place {
      grid-gap: 40px 28px;
  }
}

@media screen and (max-width: 760px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "place__title"
      "place__image"
      "place__paragraf";
    grid-row-gap: 24px;
  }
}