.content-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  width: 70%;
}

@media screen and (max-width: 1030px) {
  .content-title {
      width: 80%;
  }
}

@media screen and (max-width: 770px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 500px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
  }
}